body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}

.alert {
    background-color: #ff4545;
    margin: 50px;
}

form {
    background-color: #dbd5d5;
    width: 30%;
    height: 250px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

.log-in, .log-out, .register {
  background-color: #00acb0;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: #008183;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
}

td, th {
    border: 1px solid #dddddd;
}

tr:nth-child(even) {
    background-color: #f9f8f8;
}

h1{
    font-family: 'Andale Mono';
    color: rgb(31, 17, 8);
    margin-left: flex;
    margin-right: flex;
    width: 26%;

}
